  /* 以下responce.cssに記述 */
  
  /* スマホ向けレイアウト */
  @media(max-width: 480px){
  
  .main{
    width: 100%;
    display: block;
  }
    
  .side{
    width: 100%;
    display: flex;
    text-align:center;
    margin: 0 auto;
  }
    
   .btn {
    padding:15px;
    display: flex;
    border-radius: 50%;
  }
  
  }
