/* 以下responce.cssに記述 */

/* タブレット向けレイアウト */
@media(max-width: 1000px){
  .wrapper {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
    max-width:1000px;
}
  .contentA{
    width:50%;
    margin:0.auto;
  }
}

  .contentB{
    width:50%;
    float: left;
  }
}

/* スマホ向けレイアウト */
@media(max-width: 670px){
  .wrapper {
    width: 100%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
  .contentA{
    width:100%;
    margin:0.auto;
  }
}

  .contentB{
    float: left;
  }
}
.font{
  font-family: "Helvetica";
  font-weight: bold;
  text-aline:center;
}
