/* すべての要素に対して box-sizing: border-box; を指定してください */
*{
    box-sizing: border-box;
  }
  
/* clearクラスにfloatを解除するためのCSSを記述してください */
  .clear {
    clear: left;  
  }

/* 2カラムにする*/
  .wrapper {
    width: 80%;
    display: flex;
    margin: 20px auto;
    justify-content: center;
  }

  .main, .side {
    padding: 20px;
}

  .main {
    width: 60%;
    margin-right: 20px;
}

  .side {
    width: 20%;
}

  .main{
    width: 50%;
    display: block;
    margin: 0 auto;
  }

.area1,area2,area3{
  vertical-align: middle;
}
  
  .side{
    width: 30%;
    margin: 0 auto;
  }
  
  .font{
    font-size:28px;
    padding-bottom:5px;
    margin-bottom:5px;
    font-family: "Helvetica";
    font-weight: bold;
  }
  


  /* sideクラスのCSSを指定してください */
.buttonlist{
  width:100%;
}

li{
    list-style: none;
    float: left;
  }


  
  .btn {
    padding:15px;
    border-radius: 50%;
    margin-right:5px;
  }
  
  /* handleクラスのCSSを指定してください */

  .handle-DarkGoldenrod{
    background-color:DarkGoldenrod;
  }
  
  .handle-Peru{
    background-color:Peru;
  }
  
  .handle-DarkRed{
    background-color:DarkRed;
  }
  
  .handle-SaddleBrown{
    background-color:SaddleBrown;
  }
  
  
  /* patternクラスのCSSを指定してください */
  .pattern-PaleVioletred{
    background-color:PaleVioletred;
  }
  
  .pattern-DarkSalmon{
    background-color:DarkSalmon;
  }
  
  .pattern-Goldenrod{
    background-color:Goldenrod;
  }
  
  .pattern-Khaki{
    background-color:Khaki;
  }
  
  
  /* bottomクラスのCSSを指定してください */
  
  .bottom-Maroon{
    background-color:Maroon;
  }
  
  .bottom-SteelBlue{
    background-color:SteelBlue;
  }
  
  .bottom-DarkOliveGreen{
    background-color:DarkOliveGreen;
  }
  
  .bottom-Sienna{
    background-color:Sienna;
  }

  /* スマホ向けレイアウト */
  .wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: center;
  }
  
  .main{
    width: 100%;
    display: block;
  }
    
  .side{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

 .font{
    font-size:20px;
    margin:10 auto;
    font-family: "Helvetica";
    font-weight: bold;
  }
  

    .buttonlist {
		height:60px;
		margin:10 auto;
		position:relative;
    	width: 70%
  }

.btn {
	position:relative;
   display: flex;
   border-radius: 50%;
  }
  
  }
