/* すべての要素に対して box-sizing: border-box; を指定してください */
*{
  box-sizing: border-box;
}

.wrapper {
    width: flex;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.contentA{
 width: 50%;
 font-size: 0;
 display: block;
 margin-top: 0px;
  padding: -20px;
}

.contentB{
 width: 30%;
 margin: 0 auto;
}
 
.main, .side {
 padding: 20px;
}

/* fontクラスのCSSを指定してください */
.font{
  font-family: "Helvetica";
  font-weight: bold;
}

/* btnクラスのCSSを指定してください */
.btn {
  padding:24px;
  display:inline-block;
  border-radius: 50%;
  margin-right:24px;
  
  
}

/* handleクラスのCSSを指定してください */
.handle-DarkGoldenrod{
  background-color:DarkGoldenrod;
}

.handle-Peru{
  background-color:Peru;
}

.handle-DarkRed{
  background-color:DarkRed;
}

.handle-SaddleBrown{
  background-color:SaddleBrown;
}


/* patternクラスのCSSを指定してください */
.pattern-PaleVioletred{
  background-color:PaleVioletred;
}

.pattern-DarkSalmon{
  background-color:DarkSalmon;
}

.pattern-Goldenrod{
  background-color:Goldenrod;
}

.pattern-Khaki{
  background-color:Khaki;
}


/* bottomクラスのCSSを指定してください */

.bottom-Maroon{
  background-color:Maroon;
}

.bottom-SteelBlue{
  background-color:SteelBlue;
}

.bottom-DarkOliveGreen{
  background-color:DarkOliveGreen;
}

.bottom-Sienna{
  background-color:Sienna;
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px)) {
  .contentA{
    width: 100%;
    margin-bottom: 50px;
    font-size: 5px;
    float:left;
  }
